/* ==========================================================================
   Masthead (aka logo)
   ========================================================================== */

.masthead {
	// position: relative;
	display: block;
	padding-top: rhythm(.5);
	padding-bottom: rhythm(.5);

	h1,
	a {
		font-weight: 300; // Reset default browser weight for h1 (e.g. ‘bold’)
	}

	.template-home & {
		padding-left: rhythm($grid-gutter-rhythm-unit);
		color: $color-link-light;

		@include breakpoint(medium) {
			padding-left: 0;
		}
	}

	a {
		position: relative;
		color: rgba($color-link-dark,.6);

		&:hover,
		&:focus {
			color: $color-link-dark;

			.no-touchevents & {
				top: -2px;
				padding-bottom: rhythm(.05);
				border-bottom: 2px solid $color-link-dark;
			}
		}
		&:active {

			.no-touchevents & {
				top: 0;
				border-bottom-width: 0;
			}
		}
	}

	// Vertical line
	// &:before {
	// 	position: absolute;
	// 	top: rhythm(-1.5);
	// 	bottom: 0;
	// 	left: 50%;
	// 	height: rhythm(2); // Lenght of vertical line
	// 	left: calc(50% - #{rhythm(.05 / 2)});
	// 	content: "";
	// 	border-left: solid .05rem rgba($color-link-light,.7);
	// }
}
