/* ==========================================================================
   Contentinfo (aka site footer)
   ========================================================================== */

.contentinfo {
	overflow: hidden;
	// padding-top: rhythm($grid-gutter-rhythm-unit / 2);
	margin-top	: rhythm(3.5);
	padding-top: rhythm(1.5 - ($grid-gutter-rhythm-unit));
	// color: $color-base-white;
	background-color: $color-gray-xx-light;
	-webkit-font-smoothing: antialiased; // To prevent flickering of text on colored background in Safari (default is subpixel-rendering)

	.bg-image__image {
		max-height: 44vh;
		min-height: 30vw;

		@media screen and (orientation:landscape) {
			max-height: 64vh;
		}
	}

	@include breakpoint(medium) {
		padding-top: rhythm(1.5);
	}

	footer {
		padding-top: rhythm(1);
		padding-bottom: rhythm(1);
		color: rgba($color-link-dark,.6);

		a {
			position: relative;

			&:hover,
			&:focus {
				color: $color-link-dark;

				.no-touchevents & {
					top: -2px;
					padding-bottom: rhythm(.05);
					border-bottom: 2px solid $color-link-dark;
				}
			}
			&:active {

				.no-touchevents & {
					top: 0;
					border-bottom-width: 0;
				}
			}
		}
	}
}
