/* ==========================================================================
   Hero
   ========================================================================== */

.hero {
	position: relative;
	height: 100%;
	min-height: 18rem;

	// White border!
	@include breakpoint(small) {
		padding: rhythm($grid-gutter-rhythm-unit);

		.bg-image__placeholder {
			top: rhythm($grid-gutter-rhythm-unit);
			left: rhythm($grid-gutter-rhythm-unit);
			right: rhythm($grid-gutter-rhythm-unit);
			bottom: rhythm($grid-gutter-rhythm-unit);
		}
	}

	// @include breakpoint(medium) {
	// 	max-height: 108vw;
	// }
}

.hero__text {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	padding-left: rhythm($grid-gutter-rhythm-unit);
	padding-bottom: rhythm(1);
	padding-right: rhythm($grid-gutter-rhythm-unit);
	color: $color-link-light;
	-webkit-font-smoothing: antialiased; // To keep text 'thin' on top of animated svg in Safari (default is subpixel-rendering)

	@include breakpoint(medium) {
		padding-left: 0;
		padding-bottom: rhythm(1.5);
		padding-right: 0;
	}

	p {
		max-width: 30em;
	}
}
