@charset "utf-8";

/*
	kawak.css
	-------------------------------------------------------------------
	Font Information:
	Kawak is a sans inspired by Mayan glyphs from the Tzolk'in ritual cycle
	and was designed by Javier Viramontes during the Type@Cooper, Extended
	Program under the careful guidance of Jesse Reagan and an amazing
	repertoire of visiting critics. The project was finalized by Alfonso
	Garcia and the Latinotype team.
	-------------------------------------------------------------------
	License:
	https://www.youworkforthem.com/font-license
	-------------------------------------------------------------------
	Buy:
	https://www.youworkforthem.com/font/T7136/kawak
	-------------------------------------------------------------------
	Syntax:
	https://css-tricks.com/snippets/css/using-font-face/
	-------------------------------------------------------------------
	Support:
	- Chrome 3.5+
	- Safari 3+
	- Firefox 3.5+
	- Opera 10.1+
	- IE 9+
	- Android 2.2+
	- iOS 4.3+
*/

/* Light */

@font-face {
	font-family: 'Kawak Light';
	src: url('/assets/fonts/kawak/kawak-light.woff2') format('woff2'),
		 url('/assets/fonts/kawak/kawak-light.woff') format('woff'),
		 url('/assets/fonts/kawak/kawak-light.ttf') format('truetype');
	font-display: swap;                                                         /* options: auto, block, swap, fallback and optional */
	font-weight: 300;
	font-style: normal;
}

/* Regular */

@font-face {
	font-family: 'Kawak Regular';
	src: url('/assets/fonts/kawak/kawak-regular.woff2') format('woff2'),
		 url('/assets/fonts/kawak/kawak-regular.woff') format('woff'),
		 url('/assets/fonts/kawak/kawak-regular.ttf') format('truetype');
	font-display: swap;                                                         /* options: auto, block, swap, fallback and optional */
	font-weight: 400;
	font-style: normal;
}
